name: Deploy Docker Image to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: .env
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.9.0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESSTOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            nikanostovan/notion_tasks_integration:latest
            nikanostovan/notion_tasks_integration:${{ github.sha }}
          cache-from: type=registry,ref=nikanostovan/personal_website_backend:latest
          cache-to: type=inline

      - name: Add EC2 to known ho sts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.EC2_INSTANCE_IP }} >> ~/.ssh/known_hosts

      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Create .env file
        run: |
          cat > .env << EOL
          NODE_ENV=production
          PORT=8080

          # Database
          MYSQL_HOST=${{ secrets.MYSQL_HOST }}
          MYSQL_USER=${{ secrets.MYSQL_USER }}
          MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
          MYSQL_DATABASE=${{ secrets.MYSQL_DATABASE }}
          REFRESH_TOKEN_ID=${{ secrets.REFRESH_TOKEN_ID }}
          INTERNAL_INTEGRATION_SECRET= ${{ secrets.INTERNAL_INTEGRATION_SECRET}}

          EOL

      - name: Copy files to EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_INSTANCE_IP }} "mkdir -p ~/app"
          scp docker-compose.yml ${{ secrets.EC2_USER }}@${{ secrets.EC2_INSTANCE_IP }}:~/app/
          scp .env ${{ secrets.EC2_USER }}@${{ secrets.EC2_INSTANCE_IP }}:~/app/

      - name: Deploy with docker-compose
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_INSTANCE_IP }} << 'EOF'
            cd ~/app
            docker-compose pull
            docker-compose down
            docker-compose up -d
            echo "Running containers:"
            docker-compose ps
            echo "Container logs:"
            docker-compose logs --tail=50
            docker image prune -f
          EOF
